{{#each posts}}
  <div class="post">
    <h2>{{this.title}}</h2>
    <p>{{this.content}}</p>
    <a href="/post/{{this.id}}">Read more</a>
    <button class="delete-post" data-id="{{this.id}}">Delete</button>
  </div>
{{/each}}
<form id="new-post-form">
  <input type="text" id="title" name="title" placeholder="Post Title">
  <textarea id="content" name="content" rows="3" placeholder="Post Content"></textarea>
  <button type="submit">Create Post</button>
</form>
<script src="/js/dashboard.js"></script>
