<form class="login-form">
  <label for="email-login">Email:</label>
  <input type="text" id="email-login" name="email-login">
  <label for="password-login">Password:</label>
  <input type="password" id="password-login" name="password-login">
  <button type="submit">Login</button>
</form>
<p>Don't have an account? <a href="/signup">Sign up</a></p>
<script src="/js/login.js"></script>
